.Login, .Signup {
  form {
    margin: 0 auto;

    width: 500px;
    padding: 40px;

    background-color: #ecf0f1;

    button {
      margin-top: 15px;
    }
  }

  &-footer {
    text-align: right;
  }
}
