.Notification {
  cursor: pointer;
}

.Spinner {
  width: 100%;
  padding: 15px 0;
  background-color: #FFFFFF;
  text-align: center;

  &-icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    background: url('../images/spinner.svg') no-repeat;
  }
}
